.main-container {
  margin: 0 auto;
  width: 60%;
  background-color: #f3f098;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 15px;

  h1 {
    text-align: center;
  }

  .filtersadd-container {
    display: flex;
    justify-content: space-between;
    padding: 19px;

    .add-container {
      input {
        height: 50px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 19px;
        border-radius: 5px;
        border: 1px solid #beb706;
        outline: none;
        padding-left: 13px;
      }

      button {
        height: 39px;
        font-family: 'Source Sans Pro', sans-serif;
        width: 82px;
        margin-left: 12px;
        font-size: 17px;
        border-radius: 5px;
        border: 1px solid #beb706;
        background-color: #e7e273;
      }
    }
  }

  select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #beb706;
    padding-left: 18px;
    outline: none;
  }

  .list-container {
    min-height: 600px;
    font-size: 20px;
    padding-left: 50px;

    .listItem {
      margin: 10px auto;
      list-style: none;
    }

    input {
      margin-right: 5px;
    }
  }
}
